/* Default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

h1 {
  font-size: 4vh;
  font-weight: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

body {
  background-color: #beb9ab;
  font-family: monospace;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.three-quarter {
  width: 75%;
}

/* Section Caculadora */

.calculator {
  width: 50vh;
  /* background-color: wheat; */
  background-color: #000;
  border: 2px solid #000;
}

.result {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.4em 0.5em;
  font-size: 6vh;
  font-weight: normal;
  color: #fff;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items button {
  padding: 0.5em 0.5em;
  background-color: #d6ba86;
  border: 1px solid #000;
  font-size: 5vh;
  cursor: pointer;
}

.items button:focus {
  outline: none;
}

.items button:hover {
  background-color: #f4daa8;
}

.items button:active {
  background-color: #b79e6f;
}

.items button:last-child {
  background-color: #df974c;
  color: #fff;
}

.items button:last-child:hover {
  background-color: #f4b87c;
}

.items button:last-child:active {
  background-color: #c48240;
}
